# Configuración del Entorno Virtual (Copiar este archivo como .env)

PROJECT_NAME="VantaFacturacion API"
# DATABASE_URL: Usa tu URL de Neon (Asegúrate que sea postgresql+asyncpg://...)
# y copía el "Pooled Connection" de Neon.
DATABASE_URL="postgresql+asyncpg://user:password@ep-cool-snowflake-123456.us-east-2.aws.neon.tech/neondb?options=endpoint%3Dep-cool-snowflake-123456"

# JSON Web Token Secret (Generar uno aleatorio en producción)
SECRET_KEY="tu_super_secreto_para_jwt_aqui_generalo_con_openssl_rand_hex_32"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES="1440"   # 1 Día
